.card {
  border: 0.01rem solid black;
  height: 300px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-number {
  font-weight: 700;
  font-size: 20px;
}

.card-close {
  cursor: pointer;
  position: absolute;
  bottom: 80%;
  left: 95%;
}
